@model CasperAsp.Models.User
@{
    ViewBag.Title = "Home";
    Layout = null;
}


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css" />
</head>
<body>
    @*<form action="" method="post">
            <div class="login">
                <div class="banner"></div>
                <div class="form">
                    <div class="wrapper">
                        <div class="row">
                            <div class="label" id="username">Username</div>
                            <input type="text">
                        </div>
                        <div class="row">
                            <div class="label" id="password">Password</div>
                            <input type="password">
                        </div>
                        <div class="row">
                            <button onsubmit="" onclick="location.href='@Url.Action("connect_click","Home")'" type="button">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>*@

    @using (Html.BeginForm("connect_click", "Home", FormMethod.Post))
    {
            <div class="login">
                <div class="banner"></div>
                <div class="wrapper">

                    <div class="row">
                        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "label" })
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>

                    <div class="row">
                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "label" })
                        @Html.TextBoxFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="row">
                        <input type="submit" value="LogIn" class="button_login" />
                    </div>
                </div>

            </div>
     }
</body>
