@model CasperAsp.Models.User
@{
    ViewBag.Title = "Home";
    Layout = null;
}


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css" />
</head>
<body>
    @using (Html.BeginForm("connect_click", "Home", FormMethod.Post))
    {
            <div class="login">
                <div class="banner"></div>
                <div class="wrapper">

                    <div class="row">
                        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "label" })
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>

                    <div class="row">
                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "label" })
                        @Html.TextBoxFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="row">
                        <input type="submit" value="LogIn" class="button_login" />
                    </div>
                </div>

            </div>
     }
</body>
